@import '../../variables.scss';

.center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.login-main {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3399ff;
}

.login {
  height: calc(100vh);
}

.link {
  height: calc(100vh - #{$navbarHeight});
}

.login-header {
  margin-bottom: 20px;
}

.login-title {
  position: absolute;
  top: 150px;
  color: black;
}

.login-wrapper {
  width: 300px;
  height: 350px;
  -moz-box-shadow: 0 0 3px black;
  -webkit-box-shadow: 0 0 3px black;
  box-shadow: 0 0 20px black;

  display: flex;
  align-items: center;
  border-radius: 7px;
  background-color: white;
  position: fixed;
}

.left,
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-button {
  width: 150px;
  padding: 15px 25px;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
}

.google {
  background-color: #df4930;
}

.spotify {
  background-color: #1DB954;
}

// Background
.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.circle {
  position: fixed;
  border-radius: 50%;
  background: white;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
}

.small {
  width: 200px;
  height: 200px;
  right: -100px;
  bottom: -100px;
}

.medium {
  width: 400px;
  height: 400px;
  right: -200px;
  bottom: -200px;
}

.large {
  width: 600px;
  height: 600px;
  right: -300px;
  bottom: -300px;
}

.xlarge {
  width: 800px;
  height: 800px;
  right: -400px;
  bottom: -400px;
}

.xxlarge {
  width: 1000px;
  height: 1000px;
  right: -500px;
  bottom: -500px;
}

.shade1 {
  opacity: 0.2;
}

.shade2 {
  opacity: 0.5;
}

.shade3 {
  opacity: 0.7;
}

.shade4 {
  opacity: 0.8;
}

.shade5 {
  opacity: 0.9;
}

@keyframes ripple {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0.8);
  }
}