.musicpad-display{
  display:list-item;
  font-size: small;
  padding: 2px;
  overflow: hidden;
}

.musicpad-dashboard {
  display: inline-block;
  width: 200px;
  margin: 20px;  
}

.musicpad-dashboard-image{
  height: 200px;
  width: 200px;
}

.musicpad-display-image{
  height: 75px;
  float: left;
}

.musicpad-title{
  font-weight: bold;
  color: rgba(245,245,245,255);
}

.musicpad-sub-title{
  color: rgba(166,166,166,255);
}