.playlistImage{
  height: 200px;
  width: 200px;
}

.test{
  display: inline-block;
  width: 200px;
}

.title{
  font-weight: bold;
  color: rgba(245,245,245,255);
}

.subTitle{
  color: rgba(166,166,166,255);
}