@import '../../../variables.scss';

.background {
  overflow-y: auto;
  background-color: rgba(3, 3, 3, 255);
  height: calc(100vh - #{$navbarHeight});
}

.more-options {}

.queue-item-image {
  height: 75px;
  width: 75px;
}

.queue-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 20px;
}

.queue-item-left {
  display: flex;
  align-items: center;
}

.unactive-track {
  opacity: 50%;
}

.artist-name {
  color: rgba(166, 166, 166, 255);
}

.player {
  height: 380px;
  width: 100%;
}