.music-title {
  font-weight: bold;
  color: rgba(245, 245, 245, 255);
  white-space: nowrap;
  overflow: hidden;
  overflow: hidden;
  text-overflow: ellipsis;
}

.padlist {
  margin: 0px 10%;
}

.padlist-title {
  font-weight: bold;
  color: rgba(245, 245, 245, 255);
  padding: 15px 0px 0px 15px;
}

.padlist-next {
  position: fixed;
}

.musicpad-dashboard {
  display: inline-block;
  width: 200px;
  margin: 20px;
}

.musicpad-dashboard-image {
  height: 200px;
  width: 200px;
  border-radius: 3px;
}

.musicpad-display {
  display: list-item;
  font-size: small;
  padding: 2px;
  overflow: hidden;
}

.musicpad-display-image {
  height: 75px;
  float: left;
}

.musicpad-sub-title {
  color: rgba(166, 166, 166, 255);
}

.song-list-dashboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: scroll;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
  position: relative;
}

.song-list-dashboard::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

@media screen and (max-width: 600px) {
  .padlist {
    margin: 0px;
  }
}